body {
    margin: 0;
    padding: 0;
}



/* ---- NAV-BAR ---- */

.nav-bar   {
    background-color: #252525;
}

.nav-links {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    
}

.nav-items {
    margin-top: 40px;
    margin-left: 1.5rem;
    list-style-type: none;
}

.nav-items a {
    text-decoration: none;  
    color: gray;
}

.nav-items:first-child {

    margin-right: 50rem;
}

.nav-items:last-child {
    margin-right: 50px;
    margin-left: 100px;

}

.nav-items a:hover{
    color: white;
}

/* ---- HERO ---- */

.hero-div {
    display: flex;
    justify-content: center;
    background-color: #252525;
  
}

.hero-text-container {
    margin-top: 8rem;
}

.hero-header {
    margin: 0;
}

.hero-text {
    margin-top: 2rem;
    padding: 0;
}

.join-btn   {
    margin-top: 8px;
}



